.wrap-btn-start {
  margin-bottom: 20px;
}

.btn-start.active {
  display: none;
}

.input-form.active {
  display: none;
}

.input-form {
  min-height: 30%;
  padding: 15px;
  margin-bottom: 20px;
  .wrap-form {
    padding: 10px;
    #task-form {
      padding: 10px;
      margin: auto;
      width: 80%;
      background-color: rgba(17, 25, 40, 0.75);
      // display: flex;
      // justify-content: space-around;
      border-radius: 10px;

      .form-part {
        margin-bottom: 20px;
        text-align: center;

        #text {
          width: 90%;
          height: 90%;
          font-size: 20px;
          border-radius: 5px;
        }

        label {
          display: block;
          font-size: 18px;
        }
        input {
          font-size: 20px;
          border-radius: 5px;
          padding: 5px;
        }
        select {
          font-size: 20px;
          border-radius: 5px;
          padding: 5px;
        }
      }

      .form-part#text-area {
        height: 80px;
        margin-bottom: 30px;
      }
      .form-part#responsible {
        height: 80px;
        margin-bottom: 10px;
      }
      .exit {
        text-align: right;
        font-size: 24px;
        // margin-bottom: 10px;
      }
      .exit:hover {
        cursor: pointer;
      }
    }
  }
  .wrap-btn {
    padding: 10px;
  }
}

// .deadline_priority {
//   display: flex;
//   justify-content: center;
// }
