.wrap-btn-start {
  margin-bottom: 20px;
}

.btn-start.active {
  display: none;
}

.input-form.active {
  display: none;
}

.input-form {
  padding: 15px;
  margin-bottom: 20px;
  .wrap-form {
    padding: 10px;
    #task-form {
      padding: 10px;
      margin: auto;
      width: 80%;
      background-color: hsla(29, 94%, 50%, 0.726);
      display: flex;
      justify-content: space-around;
      border-radius: 10px;

      label {
        display: block;
      }
      input {
        font-size: 20px;
      }
      select {
        font-size: 20px;
      }
      .exit {
        font-size: 24px;
      }
      .exit:hover {
        cursor: pointer;
      }
    }
  }
  .wrap-btn {
    padding: 10px;
  }
}
