.tables {
  border: 1px solid hsla(29, 94%, 50%, 1);
  border-radius: 10px;
  background-color: hsla(29, 94%, 50%, 0.726);
  height: 500px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .table {
    border: 1px solid hsla(29, 94%, 50%, 1);
    border-radius: 10px;
    background-color: wheat;
    width: 30%;
    .table-head {
      border-bottom: 4px solid hsla(29, 94%, 50%, 1);
      padding: 5px;
      h3 {
        text-align: center;
      }
    }
    .task {
      padding: 10px;
      .task-wrap {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid hsla(29, 94%, 50%, 1);
        background-color: white;
        .task-text {
          text-align: center;
          margin-bottom: 10px;
        }
        .wrap-btns {
          display: flex;
          justify-content: space-between;
          button {
            font-size: 16px;
          }
          #btn-del {
            background-color: lightcoral;
            &:hover {
              background-color: red;
            }
          }
          #btn-updt {
            background-color: rgb(248, 248, 47);
            &:hover {
              background-color: yellow;
            }
          }
          #btn-next {
            background-color: lightgreen;
            &:hover {
              background-color: lime;
            }
          }
          #btn-back {
            background-color: rgb(247, 223, 8);
            &:hover {
              background-color: orange;
            }
          }
        }
      }
    }
  }
}
